extends layout

block content
    body
        h1= title
        a(href="/") Home
        br
        a(href="/new") New entry
        br
        each val in articles    
            b= val.title
            p= val.author
            p= val.body